<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Keys</key>
	<array>
		<string>mm</string>
		<string>me</string>
		<string>mc</string>
		<string>ms</string>
		<string>mv</string>
		<string>em</string>
		<string>ee</string>
		<string>ec</string>
		<string>es</string>
		<string>ev</string>
		<string>cm</string>
		<string>ce</string>
		<string>cc</string>
		<string>cs</string>
		<string>cv</string>
		<string>sm</string>
		<string>se</string>
		<string>sc</string>
		<string>ss</string>
		<string>sv</string>
		<string>vm</string>
		<string>ve</string>
		<string>vc</string>
		<string>vs</string>
		<string>vv</string>
	</array>
	<key>ODSDim</key>
	<array>
		<string>m</string>
		<string>e</string>
		<string>c</string>
		<string>s</string>
		<string>v</string>
	</array>
	<key>ODSColors</key>
	<array>
		<string>196,108,223</string>
		<string>248,124,95</string>
		<string>248,215,83</string>
		<string>97,248,83</string>
		<string>95,150,248</string>
	</array>
	<key>ODSMap</key>
	<array>
		<dict>
			<key>ret</key>
			<string>m</string>
			<key>lev</key>
			<string>s</string>
			<key>dex</key>
			<string>c</string>
		</dict>
		<dict>
			<key>ret</key>
			<string>e</string>
			<key>lev</key>
			<string>v</string>
			<key>dex</key>
			<string>s</string>
		</dict>
		<dict>
			<key>ret</key>
			<string>c</string>
			<key>lev</key>
			<string>m</string>
			<key>dex</key>
			<string>v</string>
		</dict>
		<dict>
			<key>ret</key>
			<string>s</string>
			<key>lev</key>
			<string>e</string>
			<key>dex</key>
			<string>m</string>
		</dict>
		<dict>
			<key>ret</key>
			<string>v</string>
			<key>lev</key>
			<string>c</string>
			<key>dex</key>
			<string>e</string>
		</dict>
	</array>
</dict>
</plist>
